body{
  background-color:whitesmoke;
  /* background-color:rgb(138, 136, 136); */
}

#u{
  margin-right: auto;
  justify-content:right;
}

#m
{
  display: flex;
  position: relative;
  z-index: -10;
  align-items: center;
  justify-content: right;
}

#chatmsg{
  margin-right: -20px;
}

#pag
{
  margin-bottom: -10px;
}